.backdrop {
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.2);
	position: fixed;
	top: 0;
	left: 0;
	transition: visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
	
}
.is-hidden {
	visibility: hidden;
	opacity: 0;
	pointer-events: none;
}
.backdrop.is-hidden .modal {
	transform: scale(0.5) rotateX(-60deg);
	background-color: rgba(255, 255, 255, 1);
}
.modal {
	width: 100vw;
	min-height: 609px;
	padding: 40px;
	background-color: #ffffff;
	border-radius: 4px;
	box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
		0px 1px 3px 0px rgba(0, 0, 0, 0.12);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: scale(1) rotateX(0) translate(-50%, -50%);
	transition-property: background-color;
	@media screen and (min-width: 480px) {
		width: 450px;
	}

	@media screen and (min-width: 1200px) {
		width: 528px;
		min-height: 581px;
	}
}
.modal__title {
	@include text(20px, 1.5, 0.03em, 700);
	text-align: center;
	color: var(--second-title-color);

	margin-bottom: 12px;
	@media screen and (min-width: 1200px) {
		@include text(20px, 1.15, 0.03em, 700);
	}
}

.modal__label {
	@include text(12px, 1.17, 0.01em, 400);
	color: #757575;

	margin-bottom: 4px;
}

.btn-close {
	position: absolute;
	top: 8px;
	right: 8px;
	width: 30px;
	height: 30px;

	background-color: rgba(255, 255, 255, 1);
	color: #000000;
	border-radius: 50%;
	border: 1px solid rgba(0, 0, 0, 0.1);

	display: flex;
	align-items: center;
	justify-content: center;
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
	cursor: pointer;

	&:focus,
	&:hover {
		color: #2196f3;
	}
}
.btn-close__icon {
	fill: currentColor;
}

.modal-field {
	position: relative;
	&--inden {
		margin-bottom: 10px;
	}
}

.modal-field__input {
	display: block;
	width: 100%;
	height: 40px;
	padding-left: 42px;

	@include text(14px, 1.14, 0.01em, 400);
	border: 1px solid rgba(33, 33, 33, 0.2);
	box-sizing: border-box;
	border-radius: 4px;

	transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
	outline: transparent;

	&:focus {
		border: 1px solid #2196f3;
	}
}

.modal-field__icon {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 14px;

	transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-field .modal-field__input:focus + .modal-field__icon {
	fill: #2196f3;
}

.modal-comments__label {
	@include text(12px, 1.17, 0.01em, 400);
	color: #757575;
	margin-bottom: 4px;
}
.modal-comments__text {
	display: block;
	resize: none;
	width: 100%;
	height: 120px;

	@include text(12px, 1.16, 0.01em, 400);
	border: 1px solid rgba(33, 33, 33, 0.2);
	border-radius: 4px;
	outline: transparent;
	transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

	padding: 12px 16px;
	margin-bottom: 20px;

	&::placeholder {
		@include text(14px, 1.14, 0.01em, 400);

		color: rgba(117, 117, 117, 0.5);
		@media screen and (min-width: 1200px) {
			@include text(12px, 1.16, 0.01em, 400);
		}
	}
	&:focus {
		border: 1px solid #2196f3;
	}
}

.subscribe-checkbox__text {
	@include text(12px, 1.17, 0.03em, 400);
	color: #757575;

	margin-bottom: 30px;

	display: flex;
	justify-content: space-evenly;
	align-items: center;
	@media screen and (min-width: 1200px) {
		@include text(14px, 1.71, 0.03em, 400);
	}
}

.subscribe-checkbox__checkbox {
	content: "";
	width: 16px;
	height: 15px;
	border: 2px solid #212121;
	border-radius: 2px;

	display: flex;
	align-items: center;
}
.subscribe-checkbox__icon {
	fill: transparent;
}
.subscribe-checkbox:checked + .subscribe-checkbox__text .subscribe-checkbox__checkbox {
	background: #188ce8;
	border: none;
}
.subscribe-checkbox:checked + .subscribe-checkbox__text .subscribe-checkbox__icon {
	fill: #ffffff;
}
.subscribe-checkbox__element {
	color: #2196f3;
	position: relative;
	text-decoration: underline;
}

.modal-btn {
	display: block;
	@include text(16px, 1.87, 0.06em, 700);
	text-align: center;
	align-items: center;
	color: $whiteText-color;
	background-color: #2196f3;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	border: transparent;
	cursor: pointer;

	padding: 10px 55px;
	&--indent {
		margin: 0px auto;
	}
}
