$heroTitle-color: #ffffff;
$title-color: #212121;
$subtitle-color: #212121;
$text-color: #757575;
$whiteText-color: #ffffff;
$accent-color: #2196F3;
$predominantBg: #ffffff;
$secondBg: #F5F4FA;
$thirdBg: #2F303A;
$bgBtn: #2196F3;
$btnText-color:#ffffff;
